In [1]:
import pandas as pd
import requests

In [2]:
# API: default is 1000
limit = '$limit=100000000'

### Yellow Taxi 2019

https://data.cityofnewyork.us/Transportation/2019-Yellow-Taxi-Trip-Data/2upf-qytp

In [7]:
# base url
base_url_yellow = 'https://data.cityofnewyork.us/resource/2upf-qytp.json'

In [26]:
# SQL
soql_filter_yellow = '?$select=date_trunc_ymd(tpep_pickup_datetime) AS PUDate,PULocationID,COUNT(PULocationID) AS Trips\
                       &$group=date_trunc_ymd(tpep_pickup_datetime),PULocationID'

In [27]:
# combine base url, filter, and limit
final_url_yellow = base_url_yellow + soql_filter_yellow + '&' + limit
print(final_url_yellow)

https://data.cityofnewyork.us/resource/2upf-qytp.json?$select=date_trunc_ymd(tpep_pickup_datetime) AS PUDate,PULocationID,COUNT(PULocationID) AS Trips                       &$group=date_trunc_ymd(tpep_pickup_datetime),PULocationID&$limit=100000000

In [28]:
# retrieve the data 
request_yellow = requests.get(url=final_url_yellow)
df_yellow = pd.DataFrame(request_yellow.json())

In [29]:
df_yellow.head()

                    PUDate PULocationID Trips
0  2001-01-01T00:00:00.000           48     1
1  2001-01-01T00:00:00.000          151     1
2  2001-02-02T00:00:00.000          193     1
3  2002-02-02T00:00:00.000           48     4
4  2002-02-02T00:00:00.000           79     1

In [30]:
df_yellow.shape

(87926, 3)

In [32]:
df_yellow['PUDate'] = pd.to_datetime(df_yellow['PUDate'])

In [33]:
df_yellow['pu_year'] = df_yellow['PUDate'].dt.year
df_yellow['pu_month'] = df_yellow['PUDate'].dt.month
df_yellow['pu_day'] = df_yellow['PUDate'].dt.day

In [37]:
df_yellow.pu_year.value_counts()

2019    87303
2020      377
2018       87
2009       66
2008       57
2002        9
2038        4
2029        4
2033        3
2058        3
2001        3
2088        2
2003        2
2015        1
2026        1
2090        1
2010        1
2066        1
2041        1
Name: pu_year, dtype: int64

In [38]:
df_yellow.pu_month.value_counts()

1     7674
12    7508
7     7497
3     7460
5     7454
8     7451
10    7373
6     7220
4     7178
9     7152
11    7136
2     6823
Name: pu_month, dtype: int64

In [39]:
df_yellow.pu_day.value_counts()

1     2943
2     2909
16    2906
7     2900
24    2895
8     2894
4     2892
15    2892
14    2889
6     2886
19    2886
10    2884
27    2884
11    2883
13    2883
17    2883
25    2883
12    2881
26    2880
9     2879
3     2879
23    2879
21    2878
18    2877
5     2875
28    2872
20    2868
22    2851
30    2656
29    2639
31    1820
Name: pu_day, dtype: int64

### Green Taxi 2019

https://data.cityofnewyork.us/Transportation/2019-Green-Taxi-Trip-Data/q5mz-t52e

In [40]:
# base url
base_url_green = 'https://data.cityofnewyork.us/resource/q5mz-t52e.json'

In [46]:
# SQL
soql_filter_green = '?$select=date_trunc_ymd(lpep_pickup_datetime) AS PUDate,PULocationID,COUNT(PULocationID) AS Trips\
                      &$group=date_trunc_ymd(lpep_pickup_datetime),PULocationID'

In [47]:
# combine base url, filter, and limit
final_url_green = base_url_green + soql_filter_green + '&' + limit
print(final_url_green)

https://data.cityofnewyork.us/resource/q5mz-t52e.json?$select=date_trunc_ymd(lpep_pickup_datetime) AS PUDate,PULocationID,COUNT(PULocationID) AS Trips                      &$group=date_trunc_ymd(lpep_pickup_datetime),PULocationID&$limit=100000000

In [48]:
# retrieve the data 
request_green = requests.get(url=final_url_green)
df_green = pd.DataFrame(request_green.json())

In [49]:
df_green.head()

                    PUDate PULocationID Trips
0  2008-10-21T00:00:00.000          193     1
1  2008-12-31T00:00:00.000            7     1
2  2008-12-31T00:00:00.000           41     3
3  2008-12-31T00:00:00.000           42     1
4  2008-12-31T00:00:00.000           69     1

### FHV 2019

https://data.cityofnewyork.us/Transportation/2019-For-Hire-Vehicles-Trip-Data/u6nh-b56h

In [52]:
# base url
base_url_fhv = 'https://data.cityofnewyork.us/resource/u6nh-b56h.json'

In [53]:
# filter for March and April
soql_filter_fhv = '?$where=date_extract_m(pickup_datetime) in (3, 4)'

In [54]:
# SQL
soql_filter_fhv = '?$select=date_trunc_ymd(pickup_datetime) AS PUDate,PULocationID,COUNT(PULocationID) AS Trips\
                       &$group=date_trunc_ymd(pickup_datetime),PULocationID'

In [55]:
# combine base url, filter, and limit
final_url_fhv = base_url_fhv + soql_filter_fhv + '&' + limit
print(final_url_fhv)

https://data.cityofnewyork.us/resource/u6nh-b56h.json?$select=date_trunc_ymd(pickup_datetime) AS PUDate,PULocationID,COUNT(PULocationID) AS Trips                       &$group=date_trunc_ymd(pickup_datetime),PULocationID&$limit=100000000

In [56]:
# retrieve the data 
request_fhv = requests.get(url=final_url_fhv)
df_fhv = pd.DataFrame(request_fhv.json())

In [57]:
df_fhv.head()

                    PUDate PULocationID Trips
0  2019-01-01T00:00:00.000            1   241
1  2019-01-01T00:00:00.000            3  1093
2  2019-01-01T00:00:00.000            4  2926
3  2019-01-01T00:00:00.000            5   221
4  2019-01-01T00:00:00.000            6   248

### High-Volume FHV 2019

https://data.cityofnewyork.us/Transportation/2019-High-Volume-FHV-Trip-Records/4p5c-cbgn

In [58]:
# base url
base_url_hvfhv = 'https://data.cityofnewyork.us/resource/4p5c-cbgn.json'

In [59]:
# SQL
soql_filter_hvfhv = '?$select=date_trunc_ymd(pickup_datetime) AS PUDate,PULocationID,COUNT(PULocationID) AS Trips\
                       &$group=date_trunc_ymd(pickup_datetime),PULocationID'

In [60]:
# combine base url, filter, and limit
final_url_hvfhv = base_url_hvfhv + soql_filter_hvfhv + '&' + limit
print(final_url_hvfhv)

https://data.cityofnewyork.us/resource/4p5c-cbgn.json?$select=date_trunc_ymd(pickup_datetime) AS PUDate,PULocationID,COUNT(PULocationID) AS Trips                       &$group=date_trunc_ymd(pickup_datetime),PULocationID&$limit=100000000

In [ ]:
# retrieve the data 
request_hvfhv = requests.get(url=final_url_hvfhv)
df_hvfhv = pd.DataFrame(request_hvfhv.json())