In [1]:
import pandas as pd
import requests

In [2]:
# API: default is 1000
limit = '$limit=100000000'

### Yellow Taxi

https://data.cityofnewyork.us/Transportation/2019-Yellow-Taxi-Trip-Data/2upf-qytp

In [3]:
# base url
base_url_yellow = 'https://data.cityofnewyork.us/resource/2upf-qytp.json'

In [4]:
# filter for March and April
soql_filter_yellow = '?$where=date_extract_m(tpep_pickup_datetime) in (3, 4)'

In [5]:
# combine base url, filter, and limit
final_url_yellow = base_url_yellow + soql_filter_yellow + '&' + limit
print(final_url_yellow)

https://data.cityofnewyork.us/resource/2upf-qytp.json?$where=date_extract_m(tpep_pickup_datetime) in (3, 4)&$limit=100000000

In [6]:
# retrieve the data 
request_yellow = requests.get(url=final_url_yellow)
df_yellow = pd.DataFrame(request_yellow.json())

In [7]:
df_yellow.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2020-03-18T23:36:33.000,2020-03-18T23:42:08.000,1,0.44,1,N,249,158,1,5.5,1,0.5,1,0,0.3,10.8,2.5
1,2,2020-03-18T23:44:51.000,2020-03-19T00:03:08.000,1,2.46,1,N,68,48,1,13,1,0.5,1,0,0.3,18.3,2.5
2,2,2020-03-21T02:00:09.000,2020-03-21T09:35:47.000,1,13.44,1,N,144,125,1,40.5,0.5,0.5,11.08,0,0.3,55.38,2.5
3,2,2020-04-11T09:51:46.000,2020-04-11T09:56:26.000,1,0.68,1,N,166,151,1,5,0.5,0.5,1,0,0.3,7.3,0
4,2,2020-04-11T10:03:24.000,2020-04-11T10:22:13.000,1,5.42,1,N,238,224,2,19.5,0.5,0.5,0,0,0.3,23.3,2.5

In [8]:
df_yellow.shape

(15265563, 18)

In [9]:
df_yellow.dtypes

vendorid                 object
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          object
trip_distance            object
ratecodeid               object
store_and_fwd_flag       object
pulocationid             object
dolocationid             object
payment_type             object
fare_amount              object
extra                    object
mta_tax                  object
tip_amount               object
tolls_amount             object
improvement_surcharge    object
total_amount             object
congestion_surcharge     object
dtype: object

In [10]:
df_yellow.to_csv('raw_yellow_ly.csv')

### Green Taxi

https://data.cityofnewyork.us/Transportation/2019-Green-Taxi-Trip-Data/q5mz-t52e

In [11]:
# base url
base_url_green = 'https://data.cityofnewyork.us/resource/q5mz-t52e.json'

In [12]:
# filter for March and April
soql_filter_green = '?$where=date_extract_m(lpep_pickup_datetime) in (3, 4)'

In [13]:
# combine base url, filter, and limit
final_url_green = base_url_green + soql_filter_green + '&' + limit
print(final_url_green)

https://data.cityofnewyork.us/resource/q5mz-t52e.json?$where=date_extract_m(lpep_pickup_datetime) in (3, 4)&$limit=100000000

In [14]:
# retrieve the data 
request_green = requests.get(url=final_url_green)
df_green = pd.DataFrame(request_green.json())

In [15]:
df_green.head()

,vendorid,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-03-19T08:39:31.000,2019-03-19T08:54:26.000,N,1,75,170,1,4.06,13.5,0,0.5,5.12,0,0.3,22.17,1,1,2.75
1,2,2019-03-19T09:08:01.000,2019-03-19T09:18:28.000,N,1,75,75,1,1.09,8,0,0.5,0,0,0.3,8.8,1,1,0
2,2,2019-04-09T16:50:11.000,2019-04-09T16:59:35.000,N,1,74,262,1,1.67,8.5,0,0.5,0,0,0.3,9.3,1,1,0
3,2,2019-03-19T21:32:50.000,2019-03-19T21:40:00.000,N,1,74,41,1,1.05,6.5,0.5,0.5,0,0,0.3,7.8,2,1,0
4,2,2019-03-20T06:24:28.000,2019-03-20T06:34:25.000,N,1,74,152,1,1.64,8.5,0,0.5,1.86,0,0.3,11.16,1,1,0

In [16]:
df_green.shape

(1115454, 19)

In [17]:
df_green.dtypes

vendorid                 object
lpep_pickup_datetime     object
lpep_dropoff_datetime    object
store_and_fwd_flag       object
ratecodeid               object
pulocationid             object
dolocationid             object
passenger_count          object
trip_distance            object
fare_amount              object
extra                    object
mta_tax                  object
tip_amount               object
tolls_amount             object
improvement_surcharge    object
total_amount             object
payment_type             object
trip_type                object
congestion_surcharge     object
dtype: object

In [19]:
df_green.to_csv('raw_green_ly.csv')

### Data Cleaning

In [19]:
# add taxi type
df_yellow['type'] = 'yellow'
df_green['type'] = 'green'

In [20]:
df_yellow_base = df_yellow[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'pulocationid', 'dolocationid', 'type']]\
                 .rename(columns={'tpep_pickup_datetime': 'pickup_datetime', 'tpep_dropoff_datetime': 'dropoff_datetime'})
df_yellow_base.head()

,pickup_datetime,dropoff_datetime,pulocationid,dolocationid,type
0,2020-03-07T16:45:23.000,2020-03-07T16:54:59.000,79,170,yellow
1,2020-03-29T01:46:23.000,2020-03-29T02:02:21.000,229,143,yellow
2,2020-03-29T02:07:55.000,2020-03-29T02:10:35.000,239,238,yellow
3,2020-03-29T02:12:08.000,2020-03-29T09:20:23.000,238,142,yellow
4,2020-04-19T09:28:21.000,2020-04-19T09:51:39.000,162,211,yellow

In [21]:
df_yellow_base.shape

(15265563, 5)

In [22]:
df_green_base = df_green[['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'pulocationid', 'dolocationid', 'type']]\
                 .rename(columns={'lpep_pickup_datetime': 'pickup_datetime', 'lpep_dropoff_datetime': 'dropoff_datetime'})
df_green_base.head()

,pickup_datetime,dropoff_datetime,pulocationid,dolocationid,type
0,2019-03-19T08:39:31.000,2019-03-19T08:54:26.000,75,170,green
1,2019-03-19T09:08:01.000,2019-03-19T09:18:28.000,75,75,green
2,2019-04-09T16:50:11.000,2019-04-09T16:59:35.000,74,262,green
3,2019-03-19T21:32:50.000,2019-03-19T21:40:00.000,74,41,green
4,2019-03-20T06:24:28.000,2019-03-20T06:34:25.000,74,152,green

In [23]:
df_green_base.shape

(1115454, 5)

In [24]:
df_taxi = pd.concat([df_yellow_base, df_green_base], axis=0)

In [25]:
df_taxi.head()

,pickup_datetime,dropoff_datetime,pulocationid,dolocationid,type
0,2020-03-07T16:45:23.000,2020-03-07T16:54:59.000,79,170,yellow
1,2020-03-29T01:46:23.000,2020-03-29T02:02:21.000,229,143,yellow
2,2020-03-29T02:07:55.000,2020-03-29T02:10:35.000,239,238,yellow
3,2020-03-29T02:12:08.000,2020-03-29T09:20:23.000,238,142,yellow
4,2020-04-19T09:28:21.000,2020-04-19T09:51:39.000,162,211,yellow

In [26]:
df_taxi.shape

(16381017, 5)

In [27]:
df_taxi['pickup_datetime'] = pd.to_datetime(df_taxi['pickup_datetime'])
df_taxi['dropoff_datettime'] = pd.to_datetime(df_taxi['dropoff_datetime'])

In [28]:
df_taxi['pu_year'] = df_taxi['pickup_datetime'].dt.year
df_taxi['pu_month'] = df_taxi['pickup_datetime'].dt.month
df_taxi['pu_day'] = df_taxi['pickup_datetime'].dt.day
df_taxi['pu_hour'] = df_taxi['pickup_datetime'].dt.hour

In [29]:
df_taxi.head()

,pickup_datetime,dropoff_datetime,pulocationid,dolocationid,type,dropoff_datettime,pu_year,pu_month,pu_day,pu_hour
0,2020-03-07 16:45:23,2020-03-07T16:54:59.000,79,170,yellow,2020-03-07 16:54:59,2020,3,7,16
1,2020-03-29 01:46:23,2020-03-29T02:02:21.000,229,143,yellow,2020-03-29 02:02:21,2020,3,29,1
2,2020-03-29 02:07:55,2020-03-29T02:10:35.000,239,238,yellow,2020-03-29 02:10:35,2020,3,29,2
3,2020-03-29 02:12:08,2020-03-29T09:20:23.000,238,142,yellow,2020-03-29 09:20:23,2020,3,29,2
4,2020-04-19 09:28:21,2020-04-19T09:51:39.000,162,211,yellow,2020-04-19 09:51:39,2020,4,19,9

In [34]:
df_taxi = df_taxi[df_taxi['pu_year'] == 2019] # yellow taxi contains data for 2020

In [37]:
df_taxi.shape

(16380920, 10)

### Trip Count

In [38]:
df_agg_pu = df_taxi.groupby(['type', 'pu_month', 'pu_day', 'pu_hour', 'pulocationid']).agg({'pickup_datetime': 'count'}).rename(columns={'pickup_datetime': 'trips'})
df_agg_pu.head()

                                            trips
type  pu_month pu_day pu_hour pulocationid
green 3        1      0       100               1
                              106               2
                              112              11
                              116               7
                              119               1

In [39]:
df_agg_do = df_taxi.groupby(['type', 'pu_month', 'pu_day', 'pu_hour', 'dolocationid']).agg({'dropoff_datetime': 'count'}).rename(columns={'dropoff_datetime': 'trips'})
df_agg_do.head()

                                            trips
type  pu_month pu_day pu_hour dolocationid
green 3        1      0       10                3
                              101               1
                              106               2
                              108               1
                              112              12

In [40]:
df_agg_pu.shape

(351928, 1)

In [41]:
df_agg_do.shape

(514045, 1)

In [42]:
df_agg_pu.to_csv('taxi_pickup_ly.csv')

In [43]:
df_agg_do.to_csv('taxi_dropoff_ly.csv')