In [1]:
import pandas as pd
import requests

In [2]:
# API: default is 1000
limit = '$limit=100000000'

### Yellow Taxi

https://data.cityofnewyork.us/Transportation/2020-Yellow-Taxi-Trip-Data/kxp8-n2sj

In [3]:
# base url
base_url_yellow = 'https://data.cityofnewyork.us/resource/kxp8-n2sj.json'

In [4]:
# filter for March and April
soql_filter_yellow = '?$where=date_extract_m(tpep_pickup_datetime) in (3, 4)'

In [5]:
# combine base url, filter, and limit
final_url_yellow = base_url_yellow + soql_filter_yellow + '&' + limit
print(final_url_yellow)

https://data.cityofnewyork.us/resource/kxp8-n2sj.json?$where=date_extract_m(tpep_pickup_datetime) in (3, 4)&$limit=100000000

In [6]:
# retrieve the data 
request_yellow = requests.get(url=final_url_yellow)
df_yellow = pd.DataFrame(request_yellow.json())

In [7]:
df_yellow.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2020-03-16T06:17:14.000,2020-03-16T06:21:45.000,3,1.21,1,N,24,152,1,6,0.5,0.5,1.46,0,0.3,8.76,0
1,2,2020-03-04T10:12:32.000,2020-03-04T10:23:48.000,1,1.19,1,N,43,161,1,8.5,0,0.5,3.54,0,0.3,15.34,2.5
2,2,2020-03-25T18:51:29.000,2020-03-25T19:00:25.000,1,0.86,1,N,43,161,1,7,0,0.5,1,0,0.3,11.3,2.5
3,2,2020-03-25T19:24:19.000,2020-03-26T02:46:15.000,1,1.94,1,N,230,236,1,14,0,0.5,0,0,0.3,17.3,2.5
4,2,2020-04-16T03:06:17.000,2020-04-16T03:12:53.000,1,0.46,1,N,43,43,1,5.5,0,0.5,1.76,0,0.3,10.56,2.5

In [8]:
df_yellow.shape

(3244828, 18)

In [9]:
df_yellow.dtypes

vendorid                 object
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          object
trip_distance            object
ratecodeid               object
store_and_fwd_flag       object
pulocationid             object
dolocationid             object
payment_type             object
fare_amount              object
extra                    object
mta_tax                  object
tip_amount               object
tolls_amount             object
improvement_surcharge    object
total_amount             object
congestion_surcharge     object
dtype: object

In [17]:
df_yellow.to_csv('raw_yellow.csv')

### Green Taxi

https://data.cityofnewyork.us/Transportation/2020-Green-Taxi-Trip-Data/pkmi-4kfn

In [10]:
# base url
base_url_green = 'https://data.cityofnewyork.us/resource/pkmi-4kfn.json'

In [11]:
# filter for March and April
soql_filter_green = '?$where=date_extract_m(lpep_pickup_datetime) in (3, 4)'

In [12]:
# combine base url, filter, and limit
final_url_green = base_url_green + soql_filter_green + '&' + limit
print(final_url_green)

https://data.cityofnewyork.us/resource/pkmi-4kfn.json?$where=date_extract_m(lpep_pickup_datetime) in (3, 4)&$limit=100000000

In [13]:
# retrieve the data 
request_green = requests.get(url=final_url_green)
df_green = pd.DataFrame(request_green.json())

In [14]:
df_green.head()

,vendorid,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecodeid,pulocationid,dolocationid,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-03-01T02:22:48.000,2020-03-01T02:28:48.000,N,1,260,83,1,1.12,6,0,0.5,0,0,0.3,6.8,2,1,0
1,2,2020-03-01T02:54:27.000,2020-03-01T03:01:25.000,N,1,173,129,1,1.29,7,0,0.5,1,0,0.3,8.8,1,1,0
2,2,2020-03-01T03:11:12.000,2020-03-01T03:33:04.000,N,1,129,75,1,6.85,22,0,0.5,0,0,0.3,25.55,2,1,2.75
3,2,2020-03-01T04:06:43.000,2020-03-01T04:09:53.000,N,1,7,7,1,0.64,4,0,0.5,0,0,0.3,4.8,2,1,0
4,2,2020-03-01T04:28:50.000,2020-03-01T04:33:35.000,N,1,7,7,1,0.58,5,0,0.5,0,0,0.3,5.8,2,1,0

In [15]:
df_green.shape

(259007, 19)

In [16]:
df_green.dtypes

vendorid                 object
lpep_pickup_datetime     object
lpep_dropoff_datetime    object
store_and_fwd_flag       object
ratecodeid               object
pulocationid             object
dolocationid             object
passenger_count          object
trip_distance            object
fare_amount              object
extra                    object
mta_tax                  object
tip_amount               object
tolls_amount             object
improvement_surcharge    object
total_amount             object
payment_type             object
trip_type                object
congestion_surcharge     object
dtype: object

In [18]:
df_green.to_csv('raw_green.csv')

### Data Cleaning

In [18]:
# add taxi type
df_yellow['type'] = 'yellow'
df_green['type'] = 'green'

In [26]:
df_yellow_base = df_yellow[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'pulocationid', 'dolocationid', 'type']]\
                 .rename(columns={'tpep_pickup_datetime': 'pickup_datetime', 'tpep_dropoff_datetime': 'dropoff_datetime'})
df_yellow_base.head()

,pickup_datetime,dropoff_datetime,pulocationid,dolocationid,type
0,2020-01-01T00:28:15.000,2020-01-01T00:33:03.000,238,239,yellow
1,2020-01-01T00:35:39.000,2020-01-01T00:43:04.000,239,238,yellow
2,2020-01-01T00:47:41.000,2020-01-01T00:53:52.000,238,238,yellow
3,2020-01-01T00:55:23.000,2020-01-01T01:00:14.000,238,151,yellow
4,2020-01-01T00:01:58.000,2020-01-01T00:04:16.000,193,193,yellow

In [33]:
df_yellow_base.shape

(16847655, 5)

In [27]:
df_green_base = df_green[['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'pulocationid', 'dolocationid', 'type']]\
                 .rename(columns={'lpep_pickup_datetime': 'pickup_datetime', 'lpep_dropoff_datetime': 'dropoff_datetime'})
df_green_base.head()

,pickup_datetime,dropoff_datetime,pulocationid,dolocationid,type
0,2020-01-01T00:45:58.000,2020-01-01T00:56:39.000,66,65,green
1,2020-01-01T00:41:38.000,2020-01-01T00:52:49.000,181,228,green
2,2020-01-01T00:52:46.000,2020-01-01T01:14:21.000,129,263,green
3,2020-01-01T00:19:57.000,2020-01-01T00:30:56.000,210,150,green
4,2020-01-01T00:52:33.000,2020-01-01T01:09:54.000,35,39,green

In [32]:
df_green_base.shape

(1225873, 5)

In [37]:
df_taxi = pd.concat([df_yellow_base, df_green_base], axis=0)

In [38]:
df_taxi.head()

,pickup_datetime,dropoff_datetime,pulocationid,dolocationid,type
0,2020-01-01T00:28:15.000,2020-01-01T00:33:03.000,238,239,yellow
1,2020-01-01T00:35:39.000,2020-01-01T00:43:04.000,239,238,yellow
2,2020-01-01T00:47:41.000,2020-01-01T00:53:52.000,238,238,yellow
3,2020-01-01T00:55:23.000,2020-01-01T01:00:14.000,238,151,yellow
4,2020-01-01T00:01:58.000,2020-01-01T00:04:16.000,193,193,yellow

In [39]:
df_taxi.shape

(18073528, 5)

In [40]:
df_taxi['pickup_datetime'] = pd.to_datetime(df_taxi['pickup_datetime'])
df_taxi['dropoff_datettime'] = pd.to_datetime(df_taxi['dropoff_datetime'])

In [42]:
df_taxi['pu_year'] = df_taxi['pickup_datetime'].dt.year
df_taxi['pu_month'] = df_taxi['pickup_datetime'].dt.month
df_taxi['pu_day'] = df_taxi['pickup_datetime'].dt.day
df_taxi['pu_hour'] = df_taxi['pickup_datetime'].dt.hour

In [43]:
df_taxi.head()

,pickup_datetime,dropoff_datetime,pulocationid,dolocationid,type,dropoff_datettime,pu_year,pu_month,pu_day,pu_hour
0,2020-01-01 00:28:15,2020-01-01T00:33:03.000,238,239,yellow,2020-01-01 00:33:03,2020,1,1,0
1,2020-01-01 00:35:39,2020-01-01T00:43:04.000,239,238,yellow,2020-01-01 00:43:04,2020,1,1,0
2,2020-01-01 00:47:41,2020-01-01T00:53:52.000,238,238,yellow,2020-01-01 00:53:52,2020,1,1,0
3,2020-01-01 00:55:23,2020-01-01T01:00:14.000,238,151,yellow,2020-01-01 01:00:14,2020,1,1,0
4,2020-01-01 00:01:58,2020-01-01T00:04:16.000,193,193,yellow,2020-01-01 00:04:16,2020,1,1,0

### Trip Count

In [54]:
df_agg_pu = df_taxi.groupby(['type', 'pu_month', 'pu_day', 'pu_hour', 'pulocationid']).agg({'pickup_datetime': 'count'}).rename(columns={'pickup_datetime': 'trips'})
df_agg_pu.head()

                                            trips
type  pu_month pu_day pu_hour pulocationid
green 1        1      0       106               1
                              112              18
                              116              19
                              119               4
                              122               2

In [55]:
df_agg_do = df_taxi.groupby(['type', 'pu_month', 'pu_day', 'pu_hour', 'dolocationid']).agg({'dropoff_datetime': 'count'}).rename(columns={'dropoff_datetime': 'trips'})
df_agg_do.head()

                                            trips
type  pu_month pu_day pu_hour dolocationid
green 1        1      0       10                4
                              101               1
                              102               1
                              106               3
                              107               6

In [56]:
df_agg_pu.shape

(717432, 1)

In [57]:
df_agg_do.shape

(986494, 1)

In [58]:
df_agg_pu.to_csv('taxi_pickup.csv')

In [59]:
df_agg_do.to_csv('taxi_dropoff.csv')